{% extends 'base.html' %}

{% block content %}
<section class="py-2" id="features">
    <div class="row px-5 my-2">
        <div class="form-group row px-4 py-3">
            <h1 class="col-3">{% block title %} Parameters {% endblock %}</h1>
            <div class="col-6 py-2">
                <!-- ALERT CONTAINER, for future uses -->
                <!--<div class="alert alert-warning" role="alert" id="alertcontainer" style="line-height:37px; padding:0 18px;"></div>-->
            </div>
            <div class="col-2 py-2">
                <input type="button" class="w-100 btn btn-success" id="tglbtn" value="Toggle Form">
            </div>
            <div class="col-sm-1 py-2">
                <div class="w-100 btn btn-light" id="infobtn">
                    <i class="bi bi-info-square-fill"></i>
                </div>
            </div>
        </div>
        <form method="POST" action="/mapplot/" id="firstForm" class="row px-5 my-2">
            <div class="card col m-2 gx-5 p-3 shadow">
                {{ form.csrf_token }}
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.ScenarioPVpower.label }}</label>
                    <div class="w-25">
                        {{ form.ScenarioPVpower(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.PercentagePVtargetROOF.label }}</label>
                    <div class="w-25">
                        {{ form.PercentagePVtargetROOF(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.PVtargetROOF.label }}</label>
                    <div class="w-25">
                        {{ form.PVtargetROOF(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.PVbaseROOF.label }}</label>
                    <div class="w-25">
                        {{ form.PVbaseROOF(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.PVtargetLAND.label }}</label>
                    <div class="w-25">
                        {{ form.PVtargetLAND(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.WeightEquivalentHoursPV.label }}</label>
                    <div class="w-25">
                        {{ form.WeightEquivalentHoursPV(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.WeightDomesticConsumptionPerCapita.label }}</label>
                    <div class="w-25">
                        {{ form.WeightDomesticConsumptionPerCapita(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.WeightTaxableIncomePerCapita.label }}</label>
                    <div class="w-25">
                        {{ form.WeightTaxableIncomePerCapita(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.WeightAgriculturalAddedValue.label }}</label>
                    <div class="w-25">
                        {{ form.WeightAgriculturalAddedValue(class_="form-control") }}
                    </div>
                </div>
            </div>
            <div class="card col m-2 gx-5 p-3 shadow" id="secondForm">
                <!------->
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.ScenarioPVpowerOpt.label }}</label>
                    <div class="w-25">
                        {{ form.ScenarioPVpowerOpt(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.PercentagePVtargetROOFOpt.label }}</label>
                    <div class="w-25">
                        {{ form.PercentagePVtargetROOFOpt(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.PVtargetROOFOpt.label }}</label>
                    <div class="w-25">
                        {{ form.PVtargetROOFOpt(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.PVbaseROOFOpt.label }}</label>
                    <div class="w-25">
                        {{ form.PVbaseROOFOpt(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.PVtargetLANDOpt.label }}</label>
                    <div class="w-25">
                        {{ form.PVtargetLANDOpt(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.WeightEquivalentHoursPVOpt.label }}</label>
                    <div class="w-25">
                        {{ form.WeightEquivalentHoursPVOpt(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.WeightDomesticConsumptionPerCapitaOpt.label }}</label>
                    <div class="w-25">
                        {{ form.WeightDomesticConsumptionPerCapitaOpt(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.WeightTaxableIncomePerCapitaOpt.label }}</label>
                    <div class="w-25">
                        {{ form.WeightTaxableIncomePerCapitaOpt(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="w-75 col-form-label">{{ form.WeightAgriculturalAddedValueOpt.label }}</label>
                    <div class="w-25">
                        {{ form.WeightAgriculturalAddedValueOpt(class_="form-control") }}
                    </div>
                </div>
            </div>
            <div class="row py-3">
                {{ form.submitBtn(class_="w-50 mx-auto btn btn-primary") }}
            </div>
        </form>
    </div>
</section>
{% endblock %}
