{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Message {% endblock %}</h1>
    <form method="post">
        <label>Goals</label>
        <br>
        <input type="number" name="ScenarioPVpower"
               placeholder="1"
               value="{{ request.form['ScenarioPVpower'] }}"></input>
        <input type="number" name="PercentagePVtargetROOF"
               placeholder="1"
               value="{{ request.form['PercentagePVtargetROOF'] }}"></input>
        <br>
        <label>Coefficients</label>
        <br>
        <input type="number" name="PVtargetROOF"
               placeholder="1"
               value="{{ request.form['PVtargetROOF'] }}"></input>
        <input type="number" name="PVbaseROOF"
               placeholder="1"
               value="{{ request.form['PVbaseROOF'] }}"></input>
        <input type="number" name="PVtargetLAND"
               placeholder="1"
               value="{{ request.form['PVtargetLAND'] }}"></input>
        <br>
        <label>Advance Weight [0]</label>
        <br>
        <input type="number" name="WeightEquivalentHoursPV"
               placeholder="1"
               value="{{ request.form['WeightEquivalentHoursPV'] }}"></input>
        <input type="number" name="WeightDomesticConsumptionPerCapita"
               placeholder="1"
               value="{{ request.form['WeightDomesticConsumptionPerCapita'] }}"></input>
        <input type="number" name="WeightTaxableIncomePerCapita"
               placeholder="1"
               value="{{ request.form['WeightTaxableIncomePerCapita'] }}"></input>
        <input type="number" name="WeightAgriculturalAddedValue"
               placeholder="1"
               value="{{ request.form['WeightAgriculturalAddedValue'] }}"></input>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
