{% extends "base.html" %}
{% block title %}Start Page{% endblock %}
{% block content %}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Renewable Energy<br>Development Scenarios</h1>
    <p class="lead">The proposed project aims to create an interactive web interface which will be integrated in the RSE S.p.A. dissemination platforms, for supporting future renewable energy development scenarios, which constitutes one of the core activities in RSE. The website will support the computation of the photovoltaic capacity distribution and the expected production in Italy at a province scale for the achievement of the European Green Deal goals. Starting from variable input parameters and spatialized indicators, the interface should allow the spatial and graphical representation of the intermediate and final outputs.
    </p>
    <p class="lead">
      <a href="create" class="btn btn-lg btn-secondary">Start Computing</a>
    </p>
  </main>
{% endblock %}
